.app {
  min-height: 100vh;
  background: lightblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card {
  border: 2px solid black;
  height: 300px;
  width: 200px;
  background: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
